# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = votes_14e.settings

[deploy]
#url = http://localhost:6800/
project = votes_14e
